@font-face {
    font-family: 'BrandFont';
    src: url('./fonts/DancingScript-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'contentFont';
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


:root{
    --navbar-color : #DC4D3D;
    --sidebar-color: #F7F7F7;
    --content-color: #FEFEFE;
    --brandName-color : #FEFEFE;
    --toggleButtonHover-color:#E27065;
    --sidebarHove-color:#dfdcdc;
    --paddingBottom-color : #f0f0f0;
    --inputBoarder-color:#CED4DA;
    --inputFocus-color: #A7A7FD;
}

html,body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 18px;
    box-sizing: border-box;
}

p,ul,img{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}


body{
    display: flex;
    flex-direction: column;
}

.hide-element{
    display: none !important; 

}

.left-padding{
    padding-left: 40px !important;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.bottom-padding{
    border-bottom: 2px solid var(--paddingBottom-color);
    padding-bottom: 5px;
}

/***************************************************Navbar******************************************/

#navbar{
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 200px 10px 70px;
    align-items: center;
}

#brand-name{
    font-family: 'BrandFont';
    font-size: 3rem;
    color: var(--brandName-color);
}

#toggle-button{
    padding: 1px 1px 0 1px;
    border-radius: 10px;
}

#toggle-button:hover{
    background-color: var(--toggleButtonHover-color);
}

/****************************************************Sidebar*****************************************/
#container{
    flex : 1;
    background-color: var(--content-color);
    display: flex;
}

#overlay{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    margin-top: 85px;
}

#sidebar{
    padding: 20px 30px 20px 40px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

.selected{
    background-color: var(--sidebarHove-color);
}

.sidebar-element{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: 'contentFont';
    align-items: center;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
}


.sidebar-element:hover{
    background-color: var(--sidebarHove-color);
    cursor: pointer;
}

#addProject:hover{
    color: var(--navbar-color);
    background-color: var(--sidebar-color);
    cursor: pointer;
}



#projectList div{
    display: flex;
    align-items: center;
    gap: 10px;  
    font-family: 'contentFont';
    font-size: 1.1rem;
    padding: 5px;
}

#project-form{
    padding: 0;
    background-color: var(--sidebar-color);
    gap: 5px;
}

#project-form .form-element{
    width: 100%;
}

#project-form .form-element input{
    text-indent: 10px;
}

#project-form .buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    background-color: var(--brandName-color);
    border: 1px solid var(--inputBoarder-color);
    font-family: 'contentFont';
}

.buttons button:first-child:hover{
    background-color: green;
    color: var(--brandName-color);
}

.buttons button:last-child:hover{
    background-color: red;
    color: var(--brandName-color);
}

.task-viewer{
    display: flex;
}

.task-viewer:hover{
    background-color: var(--sidebarHove-color);
    border-radius: 5px;
    cursor: pointer;
}

.removable-project{
    display: flex;
    justify-content: space-between;
}


/**********************************************tasks***************************************/
#content{
    flex: 1;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title{
    font-family: "contentFont";
    font-size: 2.5rem;
}

.task{
    display: flex;
    justify-content: space-between;
}



.task-info{
    display: flex;
    align-items: center;
    font-family: 'contentFont';
}

.task-info:hover{
    cursor: pointer;
}

.task-info img{
    padding: 8px;
    border-radius: 5px;
    position: relative;
}

.task-info img:hover{
    background-color: var(--sidebar-color);
}

.task-info p{
    padding-left: 10px;
    font-size: 1.2rem;
}

.task-done{
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

.task-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border: 3px solid var(--paddingBottom-color);
    padding: 10px 30px;
    gap: 20px;
   
}

.task-details div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    overflow:auto
}

.task-details div span{
    font-family: "Times New Roman', Times, serif";
    padding-left: 5px;
    font-size: 1rem;
}

.task-details div p{
    font-family: 'contentFont'; 
    text-align: justify;
}






/*******************************************Add Task Button************************************/

#content button{
    font-size: 1.5rem;
    padding: 10px;
    background-color: var(--content-color);
    border: none;
    font-family: 'contentFont';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#content button:hover{
    background-color: var(--sidebar-color);
}

/************************************Add Task form*****************************************/
#overlayForm{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: var(--content-color);
    padding: 20px 30px;
    border-radius: 20px;
    gap : 15px;
    font-size: 1rem;
}


#form-info{
    display: flex;
    justify-content: space-between;
}

#form-info p{
    font-family: 'contentFont';
    font-size: 1.1rem;
}

#form-info img:hover{
    cursor: pointer;
}

#form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-element{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    width: 400px;
}

.form-element label{
    font-family: 'contentFont';
}

.form-element input{
    border-radius: 10px;
    height: 40px;
    border: 1px solid var(--inputBoarder-color);
    font-size: 1rem;
}

.form-element input:focus ,.custome-select:focus , .form-element textarea:focus{
    border-color: var(--inputFocus-color);
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custome-select{
    border-radius: 10px;
    height: 40px;
    border: 1px solid var(--inputBoarder-color);
    background-color: white;
    font-size: 1rem;
    padding: 0 0 0 10px;
    -webkit-appearance: none;
}

.form-element textarea{
    border: 1px solid var(--inputBoarder-color);
    resize: vertical;
    font-size: 1rem;
}    

.form-element input[type = date]{
    padding: 0px 10px;
}

#form button{
    padding: 10px 30px;
    font-size: 1.2rem;
    font-family: 'contentFont';
    width: fit-content;
    margin: 20px auto 0 auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--inputBoarder-color);
}

#form button:hover{
    background-color: rgb(210, 183, 183);
}


@media only screen and (max-width: 900px) {
    #navbar{
        padding-right: 50px;
    }

    #form-content{
        grid-template-columns: 1fr;
    }

    #container{
        flex-direction: column;
    }
   
}

@media only screen and (max-width : 600px) {
    #content{
        padding: 20px;
    }

    #navbar{
        padding-left: 30px;
    }

    .form-element{
        width: 280px;
    }

    form{
        padding: 20px 10px;
    }
}

@media only screen and (max-width : 450px){
    html,body{
        font-size: 14px;
    }

    #navbar{
        padding-right: 25px;
    }

    .task-details div span{
        padding-left: 2px;
        font-size: 0.9rem;
    }
}


