@font-face {
    font-family: 'BrandFont';
    src: url('./fonts/DancingScript-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'contentFont';
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


:root{
    --navbar-color : #DC4D3D;
    --sidebar-color: #F7F7F7;
    --content-color: #FEFEFE;
    --brandName-color : #FEFEFE;
    --toggleButtonHover-color:#E27065;
    --sidebarHove-color:#dfdcdc;
}

html,body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 18px;
    box-sizing: border-box;
}

p,ul,img{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}


body{
    display: flex;
    flex-direction: column;
}

/***************************************************Navbar******************************************/

#navbar{
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 200px 10px 70px;
    align-items: center;
}

#brand-name{
    font-family: 'BrandFont';
    font-size: 3rem;
    color: var(--brandName-color);
}

#toggle-button{
    padding: 1px 1px 0 1px;
    border-radius: 10px;
}

#toggle-button:hover{
    background-color: var(--toggleButtonHover-color);
}

/****************************************************Sidebar*****************************************/
#container{
    flex : 1;
    background-color: var(--content-color);
    display: flex;
}

#sidebar{
    padding: 20px 50px 20px 40px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

.sidebar-element{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: 'contentFont';
    align-items: center;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
}

.left-padding{
    padding-left: 50px;
}

.sidebar-element:hover{
    background-color: var(--sidebarHove-color);
    cursor: pointer;
}

#plus:hover{
    color: var(--navbar-color);
    background-color: var(--sidebar-color)
}


/**********************************************tasks***************************************/
#tasks{
    flex: 1;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title{
    font-family: "contentFont";
    font-size: 2.5rem;
}

.task{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

.task-info{
    display: flex;
    align-items: center;
}

.task-info:hover{
    cursor: pointer;
}

.task-info img{
    padding: 8px;
    border-radius: 5px;
    position: relative;
}

.task-info img:hover{
    background-color: var(--sidebar-color);
}

.task-info p{
    padding-left: 10px;
    font-size: 1.2rem;
}






/*******************************************Add Task Button************************************/

#tasks button{
    font-size: 1.5rem;
    padding: 10px;
    background-color: var(--content-color);
    border: none;
    font-family: 'contentFont';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#tasks button:hover{
    background-color: var(--sidebar-color);
}




